/* TYPOGRAPHY */

@import '../sass/_variables.scss';
@import '../sass/_mixins&includes.scss';

body {
	width: 1600px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}
* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	
}
h1 {
	
}
h2 {
	
}
h3 {
	
}
h4 {
	
}
h5 {
	
}
h6 {
	
}
p {
	
	&:last-child {
		margin: 0;
	}
}
strong, b {
	font-weight: normal;
	
	i, em {
		
	}
}
pre {
	overflow: hidden;
}
i, em, cite, address {
	font-style: normal;
	
	strong, b {
	
	}
}
a {
	
	&:hover,
	&:active,
	&:focus {
		
	}
	&[href^="tel"],
	&[href^="fax"] {
		
	}
}
hr {
	border-bottom: 1px;
	border-width: 0 0 1px;
	margin: 0;
	width: 100%;
	clear: both;
}
blockquote {
	margin: 10px 10px 42px 0;
	padding-left: 10px;
	border-left: 0;
}
img,
picture {
	margin: 0;
	max-width: 100%;
}

nav li {
	display: inline-block;
}

nav {
	float: right;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

header {
	background-image: url("img/hero.png");
}

.inl {
	display: inline-block;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0 5px;
	@include clearfix;
}
